<%- include("./partials/header-task") %>
    <% archivedTasks.forEach(task=>{ %> 
    <div class="container">
      <div class="task">
          <div class="name"><h4><i class="fa fa-tasks" aria-hidden="true"></i> <%= task.name %></h4></div>
          <div class="desc">
            <%= task.description %>
          </div>
          <div class="label-info">
            <div class="label"><i class="fa fa-tag" aria-hidden="true"></i> <%= task.label %></div>
            <div class="status"><i class="fa fa-check" aria-hidden="true"></i> <%= task.status %></div>
            <div class="duedate"><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <%= task.dueDate %></div>
          </div>
          <div class="btns">
            <div class="back-btn">
              <div class="edit-btn">
                <a href="#" class="a-btn" onclick="return false;" >Delete</a>
              </div>
            </div>
  
            <div class="edit-btn"><a href="/task/<%= task.id %>/edit" onclick="return false;" class="a-btn"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a></div>
          </div>
       
      </div> 
      
    </div>
    <% })%>
    
<%- include("./partials/footer") %>



