<%- include("./partials/header-task") %>
<div class="filter">
  <div class="form-1">
    <form action="/task/sort-by-status" method="POST">
      <div class="form-group">
        <input type="radio" id="new" name="status" value="new" />
        <label for="new">New</label>
      </div>
      <div class="form-group">
        <input type="radio" id="progress" name="status" value="progress" />
        <label for="progress">Progress</label>
      </div>
      <div class="btn">
        <button type="submit">Apply</button>
      </div>
    </form>
  </div>
  <hr class="filter-hr" />
  <div class="form-1">
    <form action="/task/sort-by-label" method="POST">
      <div class="form-group">
        <input type="radio" id="work" name="label" value="work" />
        <label for="work">Work</label>
      </div>
      <div class="form-group">
        <input type="radio" id="personal" name="label" value="personal" />
        <label for="personal">Personal</label>
      </div>
      <div class="form-group">
        <input type="radio" id="study" name="label" value="study" />
        <label for="study">Study</label>
      </div>
      <div class="form-group">
        <input type="radio" id="shopping" name="label" value="shopping" />
        <label for="shopping">Shopping</label>
      </div>
      <div class="form-group">
        <input type="radio" id="others" name="label" value="others" />
        <label for="others">Others</label>
      </div>
      <div class="btn">
        <button type="submit">Apply</button>
      </div>
    </form>
  </div>
</div>
<% tasks.forEach(task=>{ %> <%if(task.status !== 'COMPLETED'){ %>
<div class="container">
  <div class="task">
    <div class="name">
      <h4><i class="fa fa-tasks" aria-hidden="true"></i> <%= task.name %></h4>
    </div>
    <div class="desc">
      <%= task.description %>
    </div>
    <div class="label-info">
      <div class="label">
        <i class="fa fa-tag" aria-hidden="true"></i> <%= task.label %>
      </div>
      <div class="status">
        <i class="fa fa-check" aria-hidden="true"></i> <%= task.status %>
      </div>
      <div class="duedate">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <%=
        task.dueDate %>
      </div>
    </div>
    <div class="btns">
      <div class="back-btn">
        <div class="edit-btn">
          <a href="#" class="a-btn" onclick="return false;">Delete</a>
        </div>
      </div>

      <div class="edit-btn">
        <a href="/task/<%= task.id %>/edit" class="a-btn"
          ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> edit</a
        >
      </div>
    </div>
  </div>
  <% } %> <% }) %>
</div>

<%- include("./partials/footer") %>
