<html>
  <head>
    <title>Task View</title>
  </head>
  <body>
    <ul>
      <li><%= taskObject.taskName %></li>
      <li><%= taskObject.taskDescription %></li>
      <li><%= taskObject.taskDueDate %></li>
      <li><%= taskObject.statusName %></li>
      <li><%= taskObject.labelName %></li>
    </ul>
  </body>
</html>
